{% extends 'base.html.twig' %}

{% block title %}Login {% endblock %}

{% block body %}
  <div class="Loader"></div>
    <div class="wrapper">
        {% include "Partials/header.html.twig" %}
    </div>
    <div class="clearfix"></div>
    <h1>Profiles de </h1>
    {% include "Partials/footer.html.twig" %}
{% endblock %}
